*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: radial-gradient(circle at 87.5% 12.5%, #ffffff 0, #ffffff 4.17%, #ffffff 8.33%, #ffffff 12.5%, #ffffff 16.67%, #ffffff 20.83%, #ffffff 25%, #ffffff 29.17%, #ffffff 33.33%, #ffffff 37.5%, #ffffff 41.67%, #ffffff 45.83%, #ffffff 50%, #ffffff 54.17%, #ffffff 58.33%, #ffffff 62.5%, #ffffff 66.67%, #ffffff 70.83%, #ffffff 75%, #ffffff 79.17%, #ffffff 83.33%, #ffffff 87.5%, #ffffff 91.67%, #ffffff 95.83%, #ffffff 100%);}
.nav-menu-container{
    width: 100%;

    display: flex;
    display: flex;
    height: 90px;
}

.nav-menu{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-items-contaienr{
    width: 100%;
}

.menu-items{
    list-style: none;
    display: flex;
    padding: 1.5em;
    margin-right: 80px;
}

.menu-items a{
    padding: 1em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    
    
    
}

.logo-container{
   width: 220px; 
   display: flex;
}

.logo-item{
    
    width: 40px;
    height: 40px;
    align-items: center;
    margin-left: 117px;
    padding: 0.4em;
}

.netPhrase{
    padding: 0.7em;
    font-family: 'Open Sans', sans-serif;
}

.netPhrase a{
    text-decoration: none;
    color: black;
}

.menu-outline{
    padding: 0px 90px;
}

.menu-outline hr{
    color: black;
}

.hero-container{
    height: 32em;
    width: 100%;
}

.hero-welcome{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 32em;
    width: 100%;
    
    
}

.hero-welcome-phrase-box{
    width: 100%;
}

.hero-welcome-phrase{
    font-size: 3em;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.community{
    height: 34em;
    background-image: radial-gradient(circle at 87.5% 12.5%, #000000 0, #000000 4.17%, #000000 8.33%, #000000 12.5%, #000000 16.67%, #000000 20.83%, #000000 25%, #000000 29.17%, #000000 33.33%, #000000 37.5%, #000000 41.67%, #000000 45.83%, #000000 50%, #000000 54.17%, #000000 58.33%, #000000 62.5%, #000000 66.67%, #000000 70.83%, #000000 75%, #000000 79.17%, #000000 83.33%, #000000 87.5%, #000000 91.67%, #000000 95.83%, #000000 100%);}