*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-image: radial-gradient(circle at 87.5% 12.5%, #ffffff 0, #ffffff 4.17%, #ffffff 8.33%, #ffffff 12.5%, #ffffff 16.67%, #ffffff 20.83%, #ffffff 25%, #ffffff 29.17%, #ffffff 33.33%, #ffffff 37.5%, #ffffff 41.67%, #ffffff 45.83%, #ffffff 50%, #ffffff 54.17%, #ffffff 58.33%, #ffffff 62.5%, #ffffff 66.67%, #ffffff 70.83%, #ffffff 75%, #ffffff 79.17%, #ffffff 83.33%, #ffffff 87.5%, #ffffff 91.67%, #ffffff 95.83%, #ffffff 100%);}
.nav-menu-container{
    width: 100%;

    display: flex;
    display: flex;
    height: 90px;
}

.nav-menu{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu-items-contaienr{
    width: 100%;
}

.menu-items{
    list-style: none;
    display: flex;
    padding: 1.5em;
    margin-right: 80px;
}

.menu-items a{
    padding: 0.9em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
}

.logo-container{
   width: 220px; 
   display: flex;
}

.logo-item{
    
    width: 40px;
    height: 40px;
    align-items: center;
    margin-left: 117px;
    padding: 0.4em;
}

.netPhrase{
    padding: 0.7em;
    font-family: 'Open Sans', sans-serif;
}

.netPhrase a{
    text-decoration: none;
    color: black;
}

.menu-outline{
    padding: 0px 90px;
}

.hero-container{
    height: 33em;
    width: 100%;
}

.hero-welcome{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 33em;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
}

/* .hero-welcome-phrase-box{
    width: 39%;
} */

.hero-welcome-phrase{
    font-size: 2.6em;
    font-family: 'DM Sans', sans-serif;
}

.hero-welcome-phrase-span{
    color: #FF725E;
}

.hero-invite-text{
    color: #1a2e35;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3em;
}

/* .hero-line-invite{
    margin-top: 10px;
    height: 3px;
    width: 475px;
    background-color: #000000;
    border-radius: 2px;
    border-color: black;
} */

.invite-button{
    width: 100px;
    height: 30px;
    background-color: #000000;
    border-radius: 15px;
}

.invite-button a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
}

.invite-button:hover{
    background-color: #FF725E;
    border: #FF725E;
    transition: .3s;
}

.Info-section-container{
    height: 42.5em;
    width: 100%;
    background-image: radial-gradient(circle at 87.5% 12.5%, #565555 0, #3a4245 25%, #1a2d35 50%, #001a26 75%, #00021a 100%);}

.Info-section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.Info-text{
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-size: 2.6em;
}

.trial-sec{
    height: 42.5em;
    width: 100%;
    background-image: radial-gradient(circle at 87.5% 12.5%, #ffac75 0, #ff9d6f 16.67%, #ff8a67 33.33%, #fe725c 50%, #f15953 66.67%, #e6424f 83.33%, #de2c4f 100%);
}

/* footer{
    width: 100%;
    padding: 20px 0px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    min-width: 320px;
}

.box-footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box-footer .terms{
    max-width: 350px;
    font-weight: 500;
    color: black;
    font-size: 18px;
}

.box-footer h2{
    margin-bottom: 10px;
    color: black;
    font-weight: 600;
}

.box-footer a{
    font-family: 'Poppins', sans-serif;
    margin-top: 2px;
    font-weight: 200;
    text-decoration: none;
    color: #7a7a7a;
}

.box-footer a:hover{
    opacity: 0.8;
}

.box-footer a .fab{
    font-size: 20px;
}

.box-copyright{
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box-copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box-copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
} */